/target
debian/.debhelper/
debian/*.debhelper.log
debian/debhelper-build-stamp
debian/files
debian/phosh-session-services/
debian/phosh-session-services.debhelper.log debian/tmp/
debian/phosh-session-services.substvars
debian/tmp
